.Card {
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(100px); */
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius:90px;
    padding: 32px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}
.formacion{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.contenedorFormacion{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 10px;
}
