/* .container{
    display: flex;
    justify-content: center;
    
} */
*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
/* .fondo{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} */

div.container{
width: 30px;
height: 25px;
overflow: hidden;
margin: 100%;
}
img {
    display: flex;
    justify-content: center;
    height: 200%;
    width: 200%;
    transition: 0,5s;
    object-fit: cover;
    box-shadow: blue;
    box-shadow: 0 0 20px rgb(250, 160, 108);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(50px);
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius:30px;
    padding: 3px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}
img:hover{
    transform: scale(1.2);
    border-color: #646cff;
}
.imagenFormacion{
    width: 200%;
    height: 90%;
}
.imagenIdioma{
    width: 200%;
    height: 90%;
}
.imagenCertificado{
    width: 250%;
    height: 180%;
}
.imagenExperiencia{
    width: 200%;
    height: 90%;
}
.imagenSkill{
    width: 200%;
    height: 90%;
}
.imagenProyecto{
    width: 200%;
    height: 90%;
}
