.fotoNavbar{
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 1px;
    border-radius: 150px;
    object-fit: cover;
    border: 3px solid rgba(206, 28, 28, 0.23);
    }
    .navOpciones{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius:30px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
    background-image: url("../assets/fondo10.gif");
    
    }
    .navOpciones:hover{
        transform: scale(1.08);
        border-color: #646cff;
    }