.actualizarFormacion{
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 33%;
    margin-right: 25%;
    backdrop-filter: blur(10px);
    background-color: #c3f02f30;
    border: 30px solid rgba(255, 255, 255, 0.23);
    border-radius:30px;
    padding: 2px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}
label{
    display: inline-block;
    width: 160px;
    
}
.boto2for{
font-size: 200%;
    margin-right: 5%;
}
.input{
    font-size: 160%;
}
.btnactfor{
    font-size: 200%;
    margin-right: 5%;
}